body, html {
    margin: 0;
    padding: 0;
    background:#00e6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor-home, .ejercicio-7, .ejercicio-8, .ejercicio-9 {
    border: 15px solid #21afbe;
    background: white;
    padding: 15px;
}

.contenedor-home h1 {
    text-align: center;
}

.contenedor-home ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contenedor-home ul li {
    display: flex;
    justify-content: center;
}

.contenedor-home .pesentado-por {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.contenedor-home .pesentado-por div {
    display: flex;
    justify-content: flex-end;
}

.ejercicio-7 .tabla, .ejercicio-8 .tabla-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ejercicio-7 .nxn_tabla, .ejercicio-8 .ejercicio-8-tabla {
    border-color: #21afbe;
}

.ejercicio-7 .nxn_tabla td, .ejercicio-8 .ejercicio-8-tabla td {
    text-align: center;
    width: 30px;
    height: 30px;
}

.volver-al-home {
    position: fixed;
    top: 20px;
    left: 20px;
}

.volver-al-home a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 15px;
}

.volver-al-home a:hover {
    background: white;
    border-radius: 20px;
}

.volver-al-home img {
    margin-right: 10px;
}

.notificacion {
    position: fixed;
    top: 15px;
    right: 15px;
    display: none;
    border-radius: 5px;
    padding: 15px;
}

.notificacion.exito {
    background: #6aed40;
    border: 1px solid #57c434;
}

.notificacion.error {
    background: #e7156b;
    border: 1px solid #820d3d;
}

.button {
    background: cyan;
    border: 1px solid cyan;
    border-radius: 15px;
    padding: 15px;
    color: black;
}

.ejercicio-9 .deportista {
    display: flex;
    justify-content: center;
}
